$colors: (
    primary: #f2f5ff,
    button-login: #f5f6f7,
    button-signin: #14dbad
);

body, html {
    height: 100%;
}

body {
    background-color: map-get($colors, primary);
    font-family: 'Segoe UI';
    margin: 0 !important;
    padding-left: 32px;

    #container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    #signin-box {
        z-index: -1;
        background-color: #FFF;
        width: 480px;
        height: 100%;
        padding: 0 30px;
    }

    #logo {
        display: flex;
        margin-left: 24px;
        height: 32px;
    }
    
    #logo img {
        height: 100%;
        width: auto;
        margin-top: 20px;
    }

    #login-button {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .style-button {
        position: relative;
        height: 40px;
        width: 100%;
        text-align: center;
        background-color: map-get($colors, button-login);
        font-size: 14px;    
        margin-top: 20px;
        border: 1px solid #f5f6f7;
        background-color: #f5f6f7;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
        cursor: pointer;
    }

    .style-button:hover{
        filter: brightness(97%);
    }

    .style-button h3 {
        margin: 0px;
    }

    .logo-social {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .seperator {
        position: relative;
        width: 100%;
        margin: 1em 0;
        text-align: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
    }

    .form-group span {
        line-height: 1.4;
        font-size: 14px;
        color: #999;
        letter-spacing: .2px;
        margin: 0 0 4px;
    }

    .form-control {
        height: 35px;
        padding: 0px 7px;
        width: calc(100% - 14px);
        font-size: 16px;
        border-radius: 2px;
        border: 1px solid #ddd;
        background-color: #eee;
    }

    .signin-button {
        height: 40px;
        width: 100%;
        text-align: center;
        background-color: map-get($colors, button-signin);
        font-size: 20px;
        color: #FFF;
        border: 0px;
        font-weight: 700;
        margin-top: 10px;
    }

    .site-forget-pass {
        color: rgba(52,152,219,.75);
        align-self: center;
        outline: none;
        letter-spacing: .2px;
        text-decoration: none;
    }

    .signup{
        text-align: center;
        font-weight: 700; 
        font-size: 15px !important;
        margin-top: 15px;
    }

    .signup span{
        color: #4d4d4d;
        font-size: 15px !important;
    }

    .signup a{
        color: #3498db;
        text-decoration: none;
    }

    #content {
        width: calc(100% - 480px);
        padding: 45px;
    }

    .information {
        color: #333;
        font-weight: 300;
        font-size: 28px;
        line-height: 32px;
    }

    .information-bold {
        color: #333;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
    }

    .content-info {
        font-size: 18px;
        font-weight: 400;
        color: #8291a3;
    }

    #content-video {
        width: 600px;
        height: 338px;
        margin-top: 40px;
    }

    #video-background {
        background-image: url(https://img.youtube.com/vi/-nv8Zd-llZ0/maxresdefault.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        position: relative;
    }

    #content-video .btn-play{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 64px;
    }

    #content-video .btn-play img{
        height: 100%;
        width: auto;
        opacity: .7;
        transition: transform .5s;
        cursor: pointer;
    }

    #content-video .btn-play img:hover{
        opacity: 1;
        transform: scale(1.1);
        width: auto;
    }

    #content-video video{
        display: none;
    }
    #user-information {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 24px;
        margin-top: 24px;
    }

    .blurb {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }

    .blurb:last-child{
        margin-right: 0;
    }

    .blurb img {
        margin: 0;
        width: 64px;
        height: auto;
    }

    .blurb span {
        font-size: 18px;
        font-weight: 700;
    }

    .blurb p {
        font-size: 14px;
        letter-spacing: .1px;
        color: #666;
    }
}